.flex-container{
    border: 5px solid #ffcc5c;
    display: flex;
    margin-left: 0px;
}

ul{
    list-style: none;
}

.name{
    flex:1;
}

@media all and (max-width:400px)
{
    .flex-container{
        flex-wrap: wrap;
    }
    .flex-container >li {
        flex: 1 1 100%;
    }
    
    .enter
    {
       font-size: 20px;
       order:2;
    }
   
    .name{
        font-size: 38px;
    }
    .bars{
        
        font-size: 20px;
    }
}


    
    
    .enter
    {
       font-size: 40px;
       
    }
   
    .name{
        font-size: 60px;
    }
    .bars{
        padding-left: 0px;
        padding-right: 20px;
        font-size: 30px;
    }
